<a href="https://colab.research.google.com/github/saij1807/IT7103-Fall-2024/blob/main/Assignment1_pjalluri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

erp = 'employee_rating.csv'
egp = 'employee_general.csv'

employee_rating = pd.read_csv(erp)
employee_general = pd.read_csv(egp, sep="|")

def classify_data_types(df):
    classification = {}
    for column in df.columns:
        if pd.api.types.is_numeric_dtype(df[column]):
            classification[column] = 'Numeric'
        elif df[column].nunique() == 2:
            classification[column] = 'Binary'
        elif df[column].dtype == 'object':
            classification[column] = 'Nominal'
        else:
            classification[column] = 'Ordinal'
    return classification


print("Employee Rating Dataset:")
print(employee_rating.dtypes)
print("Classification:", classify_data_types(employee_rating))


print("\nEmployee General Dataset:")
print(employee_general.dtypes)
print("Classification:", classify_data_types(employee_general))

Employee Rating Dataset:
EmployeeNumber              int64
Department                 object
EnvironmentSatisfaction    object
JobRole                    object
PerformanceRating          object
YearsAtCompany              int64
YearsInCurrentRole          int64
MonthlyIncome               int64
dtype: object
Classification: {'EmployeeNumber': 'Numeric', 'Department': 'Nominal', 'EnvironmentSatisfaction': 'Nominal', 'JobRole': 'Nominal', 'PerformanceRating': 'Binary', 'YearsAtCompany': 'Numeric', 'YearsInCurrentRole': 'Numeric', 'MonthlyIncome': 'Numeric'}

Employee General Dataset:
EmployeeNumber     int64
Education         object
EducationField    object
MaritalStatus     object
dtype: object
Classification: {'EmployeeNumber': 'Numeric', 'Education': 'Nominal', 'EducationField': 'Nominal', 'MaritalStatus': 'Nominal'}

In [5]:
import pandas as pd
import numpy as np

employee_rating_path = 'employee_rating.csv'
employee_rating = pd.read_csv(employee_rating_path)

employee_rating['log_income'] = np.log(employee_rating['MonthlyIncome'])


print(employee_rating[['MonthlyIncome', 'log_income']].head())

   MonthlyIncome  log_income
0           5993    8.698347
1           5130    8.542861
2           2090    7.644919
3           2909    7.975565
4           3468    8.151333

In [19]:
import pandas as pd

employee_rating_path = 'employee_rating.csv'
employee_rating = pd.read_csv(employee_rating_path)

print(employee_rating['EnvironmentSatisfaction'].unique())
print(employee_rating['PerformanceRating'].unique())

employee_rating['EnvironmentSatisfaction'] = employee_rating['EnvironmentSatisfaction'].replace(
    {'Low': 1, 'Medium': 2, 'High': 3, 'Very High': 4}
)

employee_rating['PerformanceRating'] = employee_rating['PerformanceRating'].replace(
    {'Excellent': 1, 'Outstanding': 2}
)

print(employee_rating)

['Medium' 'High' 'Very High' 'Low']
['Excellent' 'Outstanding']
      EmployeeNumber              Department  EnvironmentSatisfaction  \
0                  1                   Sales                        2
1                  2  Research & Development                        3
2                  4  Research & Development                        4
3                  5  Research & Development                        4
4                  7  Research & Development                        1
...              ...                     ...                      ...
1465            2061  Research & Development                        3
1466            2062  Research & Development                        4
1467            2064  Research & Development                        2
1468            2065                   Sales                        4
1469            2068  Research & Development                        2

                        JobRole  PerformanceRating  YearsAtCompany  \
0               Sales Executive                  1               6
1            Research Scientist                  2              10
2         Laboratory Technician                  1               0
3            Research Scientist                  1               8
4         Laboratory Technician                  1               2
...                         ...                ...             ...
1465      Laboratory Technician                  1               5
1466  Healthcare Representative                  1               7
1467     Manufacturing Director                  2               6
1468            Sales Executive                  1               9
1469      Laboratory Technician                  1               4

      YearsInCurrentRole  MonthlyIncome
0                      4           5993
1                      7           5130
2                      0           2090
3                      7           2909
4                      2           3468
...                  ...            ...
1465                   2           2571
1466                   7           9991
1467                   2           6142
1468                   6           5390
1469                   3           4404

[1470 rows x 8 columns]

In [20]:
import pandas as pd

employee_general_path = 'employee_general.csv'
employee_general = pd.read_csv(employee_general_path, sep="|")

print(employee_general['Education'].unique())
print(employee_general['MaritalStatus'].unique())

employee_general['Education'] = employee_general['Education'].replace(
    {'Below College': 1, 'College': 2, 'Bachelor':3, 'Master': 4,'Doctor': 5}
)


employee_general['MaritalStatus'] = employee_general['MaritalStatus'].replace(
    {'Single': 1, 'Married': 2, 'Divorced': 3}
)

print(employee_general)

['College' 'Below College' 'Master' 'Bachelor' 'Doctor']
['Single' 'Married' 'Divorced']
      EmployeeNumber  Education EducationField  MaritalStatus
0                  1          2  Life Sciences              1
1                  2          1  Life Sciences              2
2                  4          2          Other              1
3                  5          4  Life Sciences              2
4                  7          1        Medical              2
...              ...        ...            ...            ...
1465            2061          2        Medical              2
1466            2062          1        Medical              2
1467            2064          3  Life Sciences              2
1468            2065          3        Medical              2
1469            2068          3        Medical              2

[1470 rows x 4 columns]

In [17]:
import pandas as pd


employee_rating_path = 'employee_rating.csv'
employee_general_path = 'employee_general.csv'

employee_rating = pd.read_csv(employee_rating_path)
employee_general = pd.read_csv(employee_general_path, sep="|")

merged_df = pd.merge(employee_rating, employee_general, on="EmployeeNumber", how="inner")

print(merged_df.head())

   EmployeeNumber              Department EnvironmentSatisfaction  \
0               1                   Sales                  Medium
1               2  Research & Development                    High
2               4  Research & Development               Very High
3               5  Research & Development               Very High
4               7  Research & Development                     Low

                 JobRole PerformanceRating  YearsAtCompany  \
0        Sales Executive         Excellent               6
1     Research Scientist       Outstanding              10
2  Laboratory Technician         Excellent               0
3     Research Scientist         Excellent               8
4  Laboratory Technician         Excellent               2

   YearsInCurrentRole  MonthlyIncome      Education EducationField  \
0                   4           5993        College  Life Sciences
1                   7           5130  Below College  Life Sciences
2                   0           2090        College          Other
3                   7           2909         Master  Life Sciences
4                   2           3468  Below College        Medical

  MaritalStatus
0        Single
1       Married
2        Single
3       Married
4       Married